<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <h1>The codentials/<%=title%></h1>

        <p>
            The import part here is to keep all the things remebered
        </p>
    </body>
</html>